<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <p-card>

      <p-toast [style]="{marginTop: '80px'}" position="top-left" key="error"></p-toast>

      <form role="form" (ngSubmit)="save()">
        <div class="ui-g form-group">
          <div class="ui-g-12 ui-md-6">
            <span class="ui-float-label">
              <input type="text" size="30" [(ngModel)]="pessoa.nome" name="nome" pInputText>
              <label for="float-input">Nome *</label>
            </span>
          </div>
          <div class="ui-g-12 ui-md-6">
            <span class="ui-float-label">
              <input type="text" size="30" [(ngModel)]="pessoa.cpf" name="cpf" mask="000.000.000-00" pInputText>
              <label for="float-input">CPF *</label>
            </span>
          </div>
          <div class="ui-g-12 ui-md-6">
            <span class="ui-float-label">
              <input type="text" size="30" [(ngModel)]="pessoa.email" name="email" pInputText>
              <label for="float-input">Email *</label>
            </span>
          </div>
          <div class="ui-g-12 ui-md-6" *ngIf="!(isEdit || isView)">
            <span class="ui-float-label">
              <input type="password" size="30" [(ngModel)]="pessoa.password" name="password" pInputText>
              <label for="float-input">Password *</label>
            </span>
          </div>
          <div class="ui-g-12 ui-md-6" *ngIf="!isEdit">
            <span class="ui-float-label">
              <p-calendar showButtonBar="true" size="30" [(ngModel)]="pessoa.dataNascimento" name="dataNascimento"
                dateFormat="dd/mm/yy"></p-calendar>
              <label for="float-input">Data de Nascimento</label>
            </span>
          </div>
        </div>
        <br>
        <div class="ui-g">
          <div class="ui-g-12 ui-md-2">
            <button pButton type="button" label="Cancelar" routerLink="/"></button>
          </div>
          <div class="ui-g-12 ui-md-2">
            <button pButton type="submit" label="Salvar"></button>
          </div>
        </div>
      </form>
    </p-card>
  </div>
</div>
<div class="ui-rtl" dir="rtl">
  <p-blockUI [blocked]="saved">
    <p-dialog header="Feito !" [(visible)]="saved">
      Cadastro realizado com sucesso.
      <br><br>
      <p-footer>
        <button pButton type="button" label="Voltar" routerLink="/"></button>
      </p-footer>
    </p-dialog>
  </p-blockUI>
  <p-blockUI [blocked]="edited">
    <p-dialog header="Feito !" [(visible)]="edited">
      Editado com sucesso.
      <br><br>
      <p-footer>
        <button pButton type="button" label="Voltar" routerLink="/pessoa"></button>
      </p-footer>
    </p-dialog>
  </p-blockUI>
</div>